<html ng-app = "mainApp">
   
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/hover.css">
      <link rel="stylesheet" href="css/modal.css">
      <title>Shubham MovieFlix</title>
      <link rel="icon" href="/images/shubham.jpg">
      
   </head>
   
   <body ng-controller="SessionController as sessionVm">

      <% include tmpl/menu.html %>
      
<!--       <h2>AngularJS Sample Application {{sessionVm.message}}</h2>
 -->      <div>
         <!-- <p><a href = "#movieList">Movie List</a></p>
         <p><a href = "#movieDetail">Movie Detail</a></p> -->
         
         <div ng-view></div>
         
        <script type = "text/ng-template" id = "aboutme.html">
            <% include tmpl/aboutme.html %>
         </script>

          <script type = "text/ng-template" id = "movieList.html">
            <% include tmpl/movieList.html %>
         </script>
         
         <script type = "text/ng-template" id = "movieDetail.html">
            <% include tmpl/movieDetail.html %>
         </script>
         
         <script type = "text/ng-template" id = "login.html">
            <% include tmpl/login.html %>
         </script>

         <script type = "text/ng-template" id = "register.html">
            <% include tmpl/register.html %>
         </script>

         <script type = "text/ng-template" id = "contact.html">
            <% include tmpl/contact.html %>
         </script>

         <script type = "text/ng-template" id = "admin.html">
            <% include tmpl/admin.html %>
         </script>

          <script type = "text/ng-template" id = "updateMovie.html">
            <% include tmpl/updateMovie.html %>
         </script>
      </div>
      
      <br><br>

      <footer class="container-fluid followUpLogos text-center">
        <form class="form-inline">
          <a href="http://shubhamyeole.byethost8.com/public_html/career/YeoleShubhamResume.pdf" class="btn btn-primary" target="_blank">Resume</a>
          <a href="https://github.com/shubham20yeole" target="_blank"><i class="fa fa-github "></i></a>
          <a href="https://www.linkedin.com/in/shubhamyeole" target="_blank"><i class="fa fa-linkedin"></i></a>
          <button type="button" class="btn btn-danger"> &copy; 2017 Shubham Yeole Project.</button>
          <a href="https://www.facebook.com/sy06736n" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="http://stackoverflow.com/users/5451749/shubham-yeole" target="_blank"><i class="fa fa-stack-overflow"></i></a>
          <a href="http://shubhamyeole.com" target="_blank" class="btn btn-primary">Portfolio</a>

        </form>
      </footer>


      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
      

      <script src="config/app.module.js"></script>
      <script src="controller/SessionController.js"></script>
      <script src="controller/MovieCastController.js"></script>

      <script src="controller/MovieListController.js"></script>
      <script src="controller/AdminController.js"></script>
      <script src="service/MovieListService.js"></script>

      <script src="controller/MovieDetailController.js"></script>
      <script src="service/MovieDetailService.js"></script>

      <script src="controller/LoginController.js"></script>
      <script src="service/LoginService.js"></script>

   </body>
</html>




