.navbar {
     margin-bottom: 50px;
  border-radius: 0;
}
.jumbotron {
  margin-bottom: 0;
}
footer {
  background-color: #f2f2f2;
  padding: 25px;
}
.ngShow{
  transition: all linear 0.5s;
  background-color: lightblue;
  height: 100px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.ng-hide {
  height: 0;
  width: 0;
  background-color: transparent;
  top:-200px;
  left: 200px;
}
.posterBGdiv{
  padding: 5%;
}
.poster{
  width: 100%;
}
.mc_head_head{font-size: 23px; font-weight: bold;}
.mc_head{font-size: 15px; font-weight: bold;}
.mc_body{font-size: 15px;}
.movieDiv{cursor: pointer;}
.upprCase{text-transform: uppercase;}
.portfolio-item{max-width: 100px;}



fieldset, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.full{font-size: 2em;}


.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
}

.rating > .half:before { 
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.disableClick{ pointer-events:none; opacity: 0.3 }
.bold{font-size: 2em; font-weight: bold; padding-left: 10px; bottom: 20px;}
.poster:hover{cursor: pointer; opacity: 0.5;}
.center{text-align: center;}
li{cursor: pointer;}