<div ng-if="!sessionVm.status">
<div ng-controller="LoginController as loginVm">
	<h1>{{loginVm.message}}</h1>

	<form ng-submit="loginVm.addUser()">
	    <input type="text" placeholder="Full Name" ng-model="loginVm.newUser.fullName"> 
	    <input type="text" placeholder="Email" ng-model="loginVm.newUser.email"> 
	    <input type="text" placeholder="Password" ng-model="loginVm.newUser.password">
	    <input type="hidden" placeholder="Type" ng-model="loginVm.newUser.type">
    	<button type="submit">Submit</button>
	</form>

	<form ng-submit="loginVm.login()">
	    <input type="text" placeholder="EMAIL" ng-model="loginVm.user.email"> 
	    <input type="text" placeholder="PASSWORD" ng-model="loginVm.user.password"> 
    	<button type="submit">Submit</button>
	</form>
</div>
</div>
<div ng-if="sessionVm.status">
	Logout first
</div>


