<div ng-controller="MovieListController as movieListVm">
<!-- 
    <div ng-repeat="mov in movieListVm.movies">
        <div ng-mouseenter="options=true" ng-mouseleave="options=false" class="icon">
            <i ng-hide="options || checkbox">1</i>
            <span ng-show="options || checkbox">2</span>
        </div>

    </div> -->
    

    <div class="container">

<!--     <h1>{{movieListVm.message}} {{movieListVm.movies.length}}</h1>
 -->    
<!--     
 -->  
 <div class="center">  
    OPTION: <button class="btn btn-info hvr-grow"><input type='checkbox' ng-model="checkbox" ng-click="options=!options"> OPEN ALL</button>
    <a ng-click="movieListVm.getTopRatedSeries()"><button class="btn btn-default hvr-grow">Top Rated Series</button></a>
    <a ng-click="movieListVm.getTopRatedMovies()"><button class="btn btn-default hvr-grow">Top Rated Movies</button></a>
<br>
    <ul class="pagination pagination-sm">
      <li><a class="hvr-grow" ng-click="movieListVm.getPaginatedMovies(movieListVm.first)">FIRST</a></li>
      <li><a class="hvr-grow" ng-click="movieListVm.getPaginatedMovies(movieListVm.prev)">PREV</a></li>
      <li ng-repeat="pager in movieListVm.pager" ng-class="{'active': pager.no==movieListVm.curr}"><a class="hvr-grow" ng-click="movieListVm.getPaginatedMovies(pager.no)">{{pager.no+1}}</a></li>
      <li><a class="hvr-grow" ng-click="movieListVm.getPaginatedMovies(movieListVm.next)">NEXT</a></li>
      <li><a class="hvr-grow" ng-click="movieListVm.getPaginatedMovies(movieListVm.last)">LAST</a></li>
    </ul>
<br>

    SORT BY: 
    <a ng-click="movieListVm.setOrder('language')"><button class="btn btn-default hvr-grow">Language</button></a>
    <a ng-click="movieListVm.setOrder('country')"><button class="btn btn-default hvr-grow">Country</button></a>
    <a ng-click="movieListVm.setOrder('imdbRating')"><button class="btn btn-default hvr-grow">IMDBRating</button></a>
    <a ng-click="movieListVm.setOrder('genre')"><button class="btn btn-default hvr-grow">Genre</button></a>
    <a ng-click="movieListVm.setOrder('released')"><button class="btn btn-default hvr-grow">Released</button></a>
    
    <hr>
</div>
      <div class="row" style="background-image: 'images/logo2.jpg !important'"> 
        <div ng-repeat="mov in movieListVm.movies | orderBy: movieListVm.order" class="col-sm-4 movieDiv">
          <div class="panel panel-primary">
            <div class="panel-heading">{{mov.title}}</div>
            <div class="posterBG">
            <div ng-click="movieListVm.detailView(mov._id)" class="panel-body" ng-mouseenter="options=true" ng-mouseleave="options=false" style="background-image: url(images/logo2.jpg); background-size: 350px 600px; background-repeat: no-repeat;max-height: 500px; min-height: 500px">



              <img ng-hide="options || checkbox" src="{{mov.poster}}" ng-class="myclass" ng-mouseleave="myclass = 'animated zoomInDown'" class="img-responsive poster"  alt="Image">
              <div ng-show="options || checkbox" class="posterBGdiv hvr-grow upprCase">
                    
                <p class="mc_head_head">{{mov.title}}</p>
                <table width="100%" class="table table-condensed">
                  <tr><td><span class="mc_head">Rated:</span></td><td><span class="mc_body">{{mov.rated}}</span></td></tr>
                  <tr><td><span class="mc_head">Released:</span></td><td><span class="mc_body">{{mov.released}}</span></td></tr>
                  <tr><td><span class="mc_head">Runtime:</span></td><td><span class="mc_body">{{mov.runtime}}</span></td></tr>
                  <tr><td><span class="mc_head">Genre:</span></td><td><span class="mc_body">{{mov.genre}}</span></td></tr>
                  <tr><td><span class="mc_head">Language:</span></td><td><span class="mc_body">{{mov.language}}</span></td></tr>
                  <tr><td><span class="mc_head">Country:</span></td><td><span class="mc_body">{{mov.country}}</span></td></tr>
                  <tr><td><span class="mc_head">MetaScore:</span></td><td><span class="mc_body">{{mov.metaScore}}</span></td></tr>
                  <tr><td><span class="mc_head">Rating:</span></td><td><span class="mc_body">{{mov.imdbRating}}</span></td></tr>
                  <tr><td><span class="mc_head">Votes:</span></td><td><span class="mc_body">{{mov.imdbVotes}}</span></td></tr>
                  <tr><td><span class="mc_head">Type:</span></td><td><span class="mc_body">{{mov.type}}</span></td></tr>
                </table>                
              </div>

            </div>
            <div class="panel-footer upprCase"><p>
            <span class="mc_head">Rate: {{mov.imdbRating}}/10</span> |
            <span class="mc_body"><a href="http://www.imdb.com/title/{{mov.imdbId}}">Watch now on IMDB</a></span></p></div>
            </div>
          </div>
        </div>
    </div>
    <div class="center">
    <ul class="pagination pagination-sm">
      <li><a class="hvr-grow" href="#movieList/0">FIRST</a></li>
      <li><a class="hvr-grow" href="#movieList/{{movieListVm.prev}}">PREV</a></li>
      <li ng-repeat="pager in movieListVm.pager" ng-class="{'active': pager.no==movieListVm.curr}"><a class="hvr-grow" href="#movieList/{{pager.no}}">{{pager.no+1}}</a></li>
      <li><a class="hvr-grow" href="#movieList/{{movieListVm.next}}">NEXT</a></li>
      <li><a class="hvr-grow" href="#movieList/{{movieListVm.last}}">LAST</a></li>
    </ul>
    </div>
  </div>
</div>
<br>