<!-- <div ng-controller="MovieDetailController as movieDetailVm">
	<h1>{{movieDetailVm.message}} {{sessionVm.message}} </h1>
</div> -->
<div class="container" ng-controller="MovieDetailController as movieDetailVm">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{movieDetailVm.movie.title}}
                    <small class="upprCase"><a href="http://www.imdb.com/title/{{movieDetailVm.movie.imdbId}}" target="_blank">Watch now on IMDB</a></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
			
                <div style="background-color: black"><center><img class="img-responsive hvr-grow" src="{{movieDetailVm.movie.poster}}" alt=""></center>
				</div><!-- ng-if="sessionVm.status" -->
                <div class="col-md-6">
                <div ng-class="{false: 'disableClick'}[sessionVm.status == true]">

                 <% include ../tmpl/rating.html %>
	                

				</div>
				</div>
				<div class="col-md-6">
                <hr>
				<p><span class="bold">Plot: </span> {{movieDetailVm.movie.plot}}</p>
                <p><span class="bold">Awards: </span> {{movieDetailVm.movie.awards}}</p>
                <p><span class="bold">Awards: </span> {{movieDetailVm.movie.awards}}</p>
                <p>Awards: {{movieDetailVm.movie.awards}}</p>
                </div>
            </div>

            <div class="col-md-4">				
                <h3>{{movieDetailVm.movie.title}}</h3>
                <p>Directed by: {{movieDetailVm.movie.director}}</p>
                <p>Written by: {{movieDetailVm.movie.writer}}</p>
                <p>Actors: {{movieDetailVm.movie.actors}}</p>
                <h3>Movie Details</h3>
                <ul>
	                <li><p><span class="mc_head">Rated:</span><span class="mc_body">{{movieDetailVm.movie.rated}}</span></p></li>
	                <li><p><span class="mc_head">Released:</span><span class="mc_body">{{movieDetailVm.movie.released}}</span></p></li>
	                <li><p><span class="mc_head">Runtime:</span><span class="mc_body">{{movieDetailVm.movie.runtime}}</span></p></li>
	                <li><p><span class="mc_head">Genre:</span><span class="mc_body">{{movieDetailVm.movie.genre}}</span></p></li>
	                <li><p><span class="mc_head">Language:</span><span class="mc_body">{{movieDetailVm.movie.language}}</span></p></li>
	                <li><p><span class="mc_head">Country:</span><span class="mc_body">{{movieDetailVm.movie.country}}</span></p></li>
	                <li><p><span class="mc_head">MetaScore:</span><span class="mc_body">{{movieDetailVm.movie.metaScore}}</span></p></li>
	                <li><p><span class="mc_head">Rating:</span><span class="mc_body">{{movieDetailVm.movie.imdbRating}}</span></p></li>
	                <li><p><span class="mc_head">Votes:</span><span class="mc_body">{{movieDetailVm.movie.imdbVotes}}</span></p></li>
	                <li><p><span class="mc_head">Type:</span><span class="mc_body">{{movieDetailVm.movie.type}}</span></p></li>
	                
                </ul>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Latest Movies</h3>
            </div>

            <div ng-repeat="mov in movieDetailVm.latestMovies" class="col-sm-3 col-xs-6">
                <a href="#movieDetail/{{mov._id}}">
                    <img class="img-responsive poster hvr-shrink" src="{{mov.poster}}" alt="">
                </a>
            </div>
		</div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>