<div ng-controller="MovieListController as movsieListVm">
	<h1>{{movsieListVm.message}} {{movsieListVm.movies.length}}</h1>
<!-- 
    <div ng-repeat="mov in movsieListVm.movies">
        <div ng-mouseenter="options=true" ng-mouseleave="options=false" class="icon">
            <i ng-hide="options || checkbox">1</i>
            <span ng-show="options || checkbox">2</span>
        </div>

    </div> -->
    <input type='checkbox' ng-model="checkbox" ng-click="options=!options">Show

    <div class="container">    
      <div class="row" style="background-image: 'images/logo2.jpg !important'">
        <div ng-repeat="mov in movsieListVm.movies" ng-click="movsieListVm.detailView(mov._id)" class="col-sm-4 movieDiv">
          <div class="panel panel-primary">
            <div class="panel-heading">{{mov.title}}</div>
            <div class="posterBG">
            <div class="panel-body" ng-mouseenter="options=true" ng-mouseleave="options=false" style="background-image: url(images/logo2.jpg); background-size: 350px 600px; background-repeat: no-repeat;max-height: 500px; min-height: 500px">



              <img ng-hide="options || checkbox" src="{{mov.poster}}" ng-class="myclass" ng-mouseleave="myclass = 'animated fadeInUp'" class="img-responsive poster"  alt="Image">
              <div ng-show="options || checkbox" class="posterBGdiv hvr-grow">
                    
                <p class="mc_head_head">{{mov.title}}</p>
                <p><span class="mc_head">Rated:</span><span class="mc_body">{{mov.rated}}</span></p>
                <p><span class="mc_head">Released:</span><span class="mc_body">{{mov.released}}</span></p>
                <p><span class="mc_head">Runtime:</span><span class="mc_body">{{mov.runtime}}</span></p>
                <p><span class="mc_head">Genre:</span><span class="mc_body">{{mov.genre}}</span></p>
                <p><span class="mc_head">Language:</span><span class="mc_body">{{mov.language}}</span></p>
                <p><span class="mc_head">Country:</span><span class="mc_body">{{mov.country}}</span></p>
                <p><span class="mc_head">MetaScore:</span><span class="mc_body">{{mov.metaScore}}</span></p>
                <p><span class="mc_head">Rating:</span><span class="mc_body">{{mov.imdbRating}}</span></p>
                <p><span class="mc_head">Votes:</span><span class="mc_body">{{mov.imdbVotes}}</span></p>
                <p><span class="mc_head">Type:</span><span class="mc_body">{{mov.type}}</span></p>

              </div>

            </div>
            <div class="panel-footer"><p><span class="mc_head">Rated:</span><span class="mc_body">{{mov.imdbId}}</span></p></div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<br>