
<hr>
<fieldset class="rating">
<span class="bold">Rating: &nbsp;&nbsp;&nbsp;&nbsp;</span>

	<input type="radio" id="star5" name="rating" value="5" />
	<label ng-click="movieDetailVm.rateUp(movieDetailVm.movie._id+'-'+sessionVm.currentUser._id+'-'+5)" class = "full" for="star5" title="Awesome - 5 stars"><i class="fa fa-star"></i></label>
					    
	<input type="radio" id="star4" name="rating" value="4" />
	<label ng-click="movieDetailVm.rateUp(movieDetailVm.movie._id+'-'+sessionVm.currentUser._id+'-'+4)" class = "full" for="star4" title="Pretty good - 4 stars"><i class="fa fa-star"></i></label>
					    

	<input type="radio" id="star3" name="rating" value="3" />
	<label ng-click="movieDetailVm.rateUp(movieDetailVm.movie._id+'-'+sessionVm.currentUser._id+'-'+3)" class = "full" for="star3" title="Meh - 3 stars"><i class="fa fa-star"></i></label>
					    
					    
	<input type="radio" id="star2" name="rating" value="2" />
	<label ng-click="movieDetailVm.rateUp(movieDetailVm.movie._id+'-'+sessionVm.currentUser._id+'-'+2)" class = "full" for="star2" title="Kinda bad - 2 stars"><i class="fa fa-star"></i></label>
					    
				    
	<input type="radio" id="star1" name="rating" value="1" />
	<label ng-click="movieDetailVm.rateUp(movieDetailVm.movie._id+'-'+sessionVm.currentUser._id+'-'+1)" class = "full" for="star1" title="Sucks big time - 1 star"><i class="fa fa-star"></i></label>
					    
</fieldset>
<br><br>
<hr>
<br>

<span class="bold">Votes: &nbsp;&nbsp;&nbsp;&nbsp;  <a ng-click="movieDetailVm.voteUp(movieDetailVm.movie._id+'-'+sessionVm.currentUser._id)">
	<i onclick="flipLike(this)" class="fa fa-thumbs-up" aria-hidden="true"></i></a>  {{movieDetailVm.movie.imdbVotes}} 
</span>
<br>
<hr>
<br>