<section ng-controller="MovieCastController as movieCastVm">
	<div class="container">
	<p class="updateMovieHeading">Update {{movieCastVm.movie.title}}</p>
	<hr>
        <div class="row">
            <div class="col-lg-5">
				<img src="{{movieCastVm.movie.poster}}" class="posterUpdate">
			</div>
			<div class="col-lg-6 upprCase updateColumn">
			<input type="text" value="{{movieCastVm.movie._id}}" ng-modal="movieCastVm.oldMovie">


			<form ng-submit="movieCastVm.updateMovie()">

			<div class="col-md-3">Title:</div>
			<div class="col-md-8"><input type="text" ng-modal="movieCastVm.newMovie.title" ></div>

			<div class="col-md-3">poster:</div>
			<div class="col-md-8"><input type="text" ng-modal="movieCastVm.newMovie.poster"></div>

			<div class="col-md-3">year:</div>
			<div class="col-md-8"><input type="text" ng-modal="movieCastVm.newMovie.title"></div>


			<div class="col-md-3">rated:</div>
			<div class="col-md-8"><input type="text" ng-modal="movieCastVm.newMovie.rated"></div>
			
			<div class="col-md-3">released:</div>
			<div class="col-md-8"><input type="text" ng-modal="movieCastVm.newMovie.released"></div>
			
			<div class="col-md-3">runtime:</div>
			<div class="col-md-8"><input type="text" ng-modal="movieCastVm.newMovie.runtime"></div>
			
			<div class="col-md-3">genre:</div>
			<div class="col-md-8"><input type="text" ng-modal="movieCastVm.newMovie.genre"></div>
			
			<div class="col-md-3">director:</div>
			<div class="col-md-8"><input type="text" ng-modal="movieCastVm.newMovie.director"></div>
			
			<div class="col-md-3">actors:</div>
			<div class="col-md-8"><input type="text" ng-modal="movieCastVm.newMovie.actors"></div>
			
			<div class="col-md-3">plot:</div>
			<div class="col-md-8"><input type="text" ng-modal="movieCastVm.newMovie.plot"></div>
			
			<div class="col-md-3">language:</div>
			<div class="col-md-8"><input type="text" ng-modal="movieCastVm.newMovie.language"></div>
			
			<div class="col-md-3">country:</div>
			<div class="col-md-8"><input type="text" ng-modal="movieCastVm.newMovie.country"></div>

			<div class="col-md-3">metaScore:</div>
			<div class="col-md-8"><input type="number" ng-modal="movieCastVm.newMovie.metaScore"></div>
			
			<div class="col-md-3">imdbRating:</div>
			<div class="col-md-8"><input type="text" ng-modal="movieCastVm.newMovie.imdbRating"></div>
			
			<div class="col-md-3">imdbVotes:</div>
			<div class="col-md-8"><input type="number" ng-modal="movieCastVm.newMovie.imdbVotes"></div>
			
			<div class="col-md-3">imdbId:</div>
			<div class="col-md-8"><input type="text" ng-modal="movieCastVm.newMovie.imdbId"></div>
			
			<div class="col-md-3">type:</div>
			<div class="col-md-8"><input type="text" ng-modal="movieCastVm.newMovie.type"></div>

			<button type="submit">SUBMIT</button>
			</form>
			</div>



			

		</div>
	</div>
	<form ng-submit="movieCastVm.test()">
				<input type="text" ng-modal="movieCastVm.newTest.name">
				<button type="submit">SUBMIT</button>				
			</form>
</section>